.git/
.github/
.gitignore
.gitattributes

__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

tests/
benchmarks/
bottle_tests/

.env
.venv/
venv/
.codspeed/
.fenrir_monitoring/