include LICENSE
include README.md
include pyproject.toml
include CHANGELOG.md
include SECURITY.md
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md

recursive-include fenrir *.py *.pyi *.typed *.png *.jpg

prune tests
prune .github
prune .pytest_cache
prune .venv
prune build
prune dist
prune *.egg-info

global-exclude __pycache__ *.py[cod] .DS_Store